/* add your CSS here */

.maincontainer{
  width: 300px;
  flex-wrap:wrap;
  padding: 5px;
  margin: : 20px;
  border: 0.5px solid grey;
  box-shadow: 5px 10px #CCCCCC;
}


.box{
  width: 290px;
  text-align: left;
  font-size: 12px;
  font-family: serif;
  padding: 5px;
  border: 0.5px solid grey;
}
img
{
    margin-bottom:5px;
}
li {
  list-style-type: none;

}
ul {
    padding: 0;
    list-style-type: none;
}
span {
  font-weight: bold;
  text-align: left;
}
